/* banner area css start */
.banner-area {
    background-image: url('../../images/Images.1/bg/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    text-align: justify;
    font-family: "PT Sans Narrow", sans-serif;
}

.banner-item{
    margin-left: 80px;
    margin-top: 120px;
}

.banner-item p{
    width: 500px;
}

.banner-area .banner-item p {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 19px;
}


/* feature or services */
.hospital-content{
    font-weight: bold;
    font-size: 32px;
    color: blue;
}

/* banner area css ends  */

/* experiance start  */
.experiance{
    color: blue;
}

.main-div{
    background-color: rgba(243, 243, 243, 0.534);
    border-radius: 10px;
}

.main-card{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 55px; 
}
.svg-logo{
    width: 80px;
    color: indigo;
}

.comment-text{
    color: red;
}

.card-body{
    text-align: center;
}

.card-title{
    font-weight: bold;
}

.frist-card{
    
    margin-bottom: 10px;
}



.welcome-text p {
    font-size: 19px;
    margin: 25px 0;
}
/* .services{
    border: 1px solid red;
} */
/* welcome area css start */
.service-icon i{
    font-size: 95px;
    color: #f59191;
    box-shadow: 2px 0px 5px 5px rgb(148, 73, 73);
    border-radius: 20px;
    background-color: rgb(88, 88, 88);
}

/* welcome area css ends */

/* testimonial  area css start */
.testimonials .container{
    background-image: url('../../images/quoteBg.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}
.testimonials .card {
    border-color: transparent;
    background-color: rgb(209, 145, 145);
    border-radius: 15px;
    
}
.testimonials .card .card-footer {
    border: 0;
    background: transparent;
    box-shadow: 0px 1px 1px 3px rgb(228, 221, 221);
    border-radius: 10px;
}


/* testimonial area css ends */



@media (max-width: 575px) {
    .banner-area .banner-img img {
        margin-top: 1rem;
    }
}
