.footer-area {
    background-color: black;
    color: #fff;
}
.footer-area li {
    padding-bottom: 10px;
}
.social-media .icon{
    height: 40px;
    width: 40px;
    color: #f36c32;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #f36c32;
    color: white;
}