.nav-link.nav-active {
  color: #0fcfec !important;
  border-bottom: 2px solid #0fcfec;
}
.button-style {
  background-color: rgb(91, 10, 150);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  border-radius: 9px;
}

.button-style i{
  font-size : 25px;
  margin-right: 8px;
}

.unique-text {
  color: #ee1717;
}
@media only screen and (max-width: 900px) {
  .nav-link.nav-active {
    color: #0066ff !important;
    border: none;
  }
}
